[user]
	name = Erkan Durmaz
	email = durmaze@gmail.com
	username = durmaze
	signingkey = 6AA7C83CFBFAF091
[core]
	excludesfile = /Users/erkand/.gitignore
	commentchar = @
	editor = $(which vim)
	autocrlf = input
[alias]
	st = status -sb
	ci = commit
	co = checkout
	pr = pull --rebase
	p  = pull
	logline = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
	ui = auto
[credential]
	helper = "!git-credential-gopass $@"
