# Make vi default editing mode
set editing-mode vi

# Configure Tab completion
set completion-ignore-case on
set completion-map-case on
set show-all-if-ambiguous on
# set colored-completion-prefix on
set mark-directories on
 
# Configure prompt
# set show-mode-in-prompt on

